body{
margin-left: 30px;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
align-items: center;
background-color:rgb(123, 219, 139);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;


}
h1{
    background-color: whitesmoke;}

.username label{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black
}
.username input{
    font-size: medium;
    width: auto;
    height: auto;

    
}
.cnic input{
    font-size: medium;
    width: auto;
    height: auto;

}